*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.column1{
  width:75%;
}
.App {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  padding: 12px;
  margin-bottom: 4px;
}

.nav .nav-right {
  margin: auto 0 auto auto;
}

.global-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.info {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 4px 10px;
  padding: 5px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.info .cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.card {
  padding: 8px;
  margin: 4px;
  background: rgba(0,0,0,.05);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 4px;
  flex-grow: 100;
}

.card .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 14px;
  margin-left: 12px;
}

.card-ticker .ticker {
  color: rgba(0,0,0,.4);
  font-size: .8rem;
  font-weight: 700;
}

.card-ticker .price {
  color: #00b7ff;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-ticker .index {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-ticker .equity {
  font-size: 1rem;
}

.progressbar-container {
  background-color: rgb(204, 204, 204);
}

.progress-container {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 8px;
}

.progressbar-container .rotated {
  transform: rotate(180deg);
  width: 50%;
}

.btn-buy-sell {
  color: orange;
  width: 74px;
  border: 2px solid orange;
  border-radius: 4px;
  font-size: 1.2rem;
  display: block;
  margin: 2px;
  padding:0.2rem;
}

.slide-form {
  display: flex;
  position: fixed;
  right: 0;
  left: auto;
  height: 100%;
  width: 450px;
  background-color: #fff;
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
  z-index: 200;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.slide-back {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.stock-form input {
  padding: 18.5px 14px;
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 1.1875em;
  display: block;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}

.stock-form select {
  padding: 18.5px 14px;
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 1.1875em;
  margin-bottom: 10px;
  display: block;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}
.row{
  width:100%;
}
.col1{
  width:80%;
}
.col2{
  width:20%;
}
.stock-form button {
  padding: 18.5px 14px;
  font: inherit;
  color: white;
  width: 100%;
  background: #3f51b5;
  border-radius: 4px;
  height: 1.1875em;
  margin-top: 15px;
  display: block;
  min-width: 0;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 992px) {
 .column1{
   width:100%;
 }
}
@media screen and (max-width: 767px) {
  .slide-form {
    display: flex;
    position: fixed;
    right: 0;
    left: auto;
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
    z-index: 200;
    padding: 40px;
  }
  .column1{
    width:100%;
  }
}